footer {
    margin: 0 auto;
    z-index: -1;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
    padding: 5px 25px 45px 10px;
}

.footer-container {
    padding: 5px 5px 15px 10px;
    line-height: 20px;
}

.footer-logo {
    float: left;
    width: 45px;
}

.footer-copyright {
    float: left;
    padding: 15px 10px 15px 10px;
}

.footer-contact {
    float: left;
    padding: 15px 5% 15px 30%;
}